@import '_var.scss';

.container {
  position: relative;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  width: 50%;
  height: 800px;
  border: 1px solid $white;
  // border-radius: 10px;
  overflow: auto;
}
.second-container {
  padding: 0 1px;
  position: relative;
  margin-top: 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  width: 50%;
}

body {
  background-color: rgb(182, 182, 182);
  font-family: $medium_font;
  .button-style {
    color: $white;
    background-color: $button_color;
    width: 127px;
    height: 40px;
    text-decoration: none;
    border: none;
    border-radius: 19px;
    transition: 0.3s;
    font-size: 16px;
    font-family: $bold_font;
    margin-right: 20px;
    &:hover {
      background-color: $button_color_hover;
      cursor: pointer;
    }
  }
}
