@import '_var.scss';

body {
  background-color: rgb(223, 223, 223);
  font-family: $medium_font;
  .button-style {
    color: $white;
    background-color: $button_color;
    width: 127px;
    height: 40px;
    text-decoration: none;
    border: none;
    border-radius: 19px;
    transition: 0.3s;
    font-size: 16px;
    font-family: $bold_font;
    margin-right: 25px;
    white-space: nowrap;
    &:hover {
      background-color: $button_color_hover;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 800px) {
  body {
    background-color: $white;
    margin: 0;
    .button-style {
      margin-right: 20px;
    }
  }
}
