@import '_var.scss';

.expense-bar {
  background-color: $dark_bg;
  height: 61px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7px auto;
  width: 95%;

  .selection-list {
    margin-left: 20px;
    select {
      color: $mid_grey;
      background-color: $white;
      font-size: 16px;
      font-family: $semi_bold_font;
      width: 170px;
      height: 40px;
      padding-left: 10px;
      border: 1px solid $light_grey;
      border-radius: 4px;
      option {
        background-color: $button_color;
      }
    }
  }

  .button-style {
    background-color: $dark_bg;
    border: 2px solid $button_color;
    &:hover {
      background-color: $button_color;
    }
  }
}

.item-list {
  display: block;
  width: 95%;
  margin: 0 auto;
  background-color: $pinkish;
  border-radius: 4px;

  .total-items {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    p:nth-of-type(1) {
      font-size: 16px;
      color: $dark_bg;
      font-family: $medium_font;
    }
    p:nth-of-type(2) {
      font-size: 18px;
      color: $dark_bg;
      font-family: $bold_font;
    }
  }
}
