@import '_var.scss';

.item-list {
  margin: 15px auto;

  form {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    gap: 5%;

    input {
      height: 32px;
      color: $mid_grey;
      font-size: 14px;
      font-family: $medium_font;
      padding: 0 10px;
      border: 1px solid $light_grey;
      border-radius: 4px;
      appearance: none;
    }

    input[type='number'] {
      -moz-appearance: textfield;
    }

    input:nth-of-type(1) {
      width: 80%;
      text-align: left;
      margin-left: 20px;
    }

    input:nth-of-type(2) {
      width: 20%;
      text-align: right;
      margin-right: 20px;
    }
  }
  .bottom-bar {
    height: 0.1px;
    position: relative;
    width: 525px;
    border-bottom: 1px solid $light_grey_border;
  }
}
@media screen and (max-width: 800px) {
  .item-list {
    .bottom-bar {
      width: auto;
      margin-right: 40px;
    }
  }
}
