@import '_var.scss';

.expense-bar {
  background-color: $dark_bg;
  height: 61px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7px auto;
  width: 95%;

  .selection-list {
    margin-left: 10px;
    .select {
      display: block;
      color: $mid_grey;
      background-color: $white;
      font-size: 16px;
      font-family: $semi_bold_font;
      width: 170px;
      height: 40px;
      padding-left: 10px;
      border: 1px solid $light_grey;
      border-radius: 4px;
      position: absolute;
      margin-top: -20px;
      span:nth-child(1) {
        font-size: 16px;
        color: $mid_grey;
        position: relative;
        top: 10px;
        left: 5px;
      }
      span:nth-child(2) {
        position: absolute;
        right: 10px;
        top: 10px;
        color: $button_color;
        transform: rotate(90deg);
      }
      ul {
        margin-top: 26px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: -10px;
        z-index: 12;
        width: 510px;
        background-color: $white;
        position: relative;
        z-index: 1;
        border-radius: 4px;
        box-shadow: 5px 5px 18px rgba(37, 11, 56, 0.25);
        .select-bar {
          height: 0.1px;
          position: relative;
          width: 520px;
          left: -25px;
          border-bottom: 1px solid $light_grey_border;
          z-index: 0;
          margin: 3px 0 6px 0;
        }
        li {
          list-style-type: none;
          margin: 5px 0 5px -40px;
          height: 34px;
          padding-left: 10px;
          padding: 5px auto;
          transition: 0.3s;
          border-radius: 4px;
          width: 520px;
          position: relative;
          line-height: 35px;
          left: 10px;
          cursor: pointer;
          &:hover {
            background-color: $button_color;
            color: $white;
          }
        }
      }
    }
  }

  form {
    .button-style {
      background-color: $dark_bg;
      border: 2px solid $button_color;
      margin-right: 10px;
      &:hover {
        background-color: $button_color;
      }
    }
  }
}

.item-list {
  display: block;
  width: 95%;
  margin: 0 auto;
  background-color: $pinkish;
  border-radius: 4px;

  .total-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    p:nth-of-type(1) {
      font-size: 16px;
      color: $dark_bg;
      font-family: $medium_font;
      padding-left: 10px;
    }
    p:nth-of-type(2) {
      font-size: 18px;
      color: $dark_bg;
      font-family: $bold_font;
      padding-right: 10px;
    }
  }
}

@media screen and (max-width: 800px) {
  .expense-bar {
    .selection-list {
      .select {
        ul {
          width: 90vw;
          max-width: fit-content;
          li {
            width: 90vw;
            transition: none;
            &:hover {
              width: 87vw;
            }
          }
          .select-bar {
            width: 100%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .expense-bar {
    .selection-list {
      .select {
        ul {
          width: 89vw;
          li {
            width: 89vw;
            transition: none;
            &:hover {
              width: 86vw;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .expense-bar {
    .selection-list {
      .select {
        ul {
          width: 88vw;
          li {
            width: 88vw;
            transition: none;
            &:hover {
              width: 83vw;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .expense-bar {
    .selection-list {
      .select {
        ul {
          width: 86vw;
          li {
            width: 86vw;
            transition: none;
            &:hover {
              width: 80vw;
            }
          }
        }
      }
    }
  }
}
