@import '_var.scss';

.bottom-bar {
  border-top: 1px solid $light_grey_border;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: $white;
  overflow: auto;
  .total {
    margin-left: 20px;
    height: 70px;
    display: block;
    p {
      color: $dark_bg;
      font-size: 20px;
      span {
        font-family: $bold_font;
      }
    }
  }
  .add-receipt {
    margin-right: 50px;
  }
}
