@import '_var.scss';

.total-bar {
  border-top: 1px solid $light_grey_border;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .total {
    height: 70px;
    align-content: center;
    // width: 50%;
    // display: block;
    span {
      font-size: 20px;
    }
  }
  .add-receipt {
    // width: 50%;
    // float: right;
    button {
      color: $white;
      background-color: $button_color;
      width: 125px;
      height: 38px;
      text-decoration: none;
      border: none;
      border-radius: 50px;
      transition: 0.3s;
      font-size: 16px;
      &:hover {
        background-color: $button_color_hover;
        cursor: pointer;
      }
    }
  }
}
