$white: #ffffff;
$dark_bg: #250b38;
$lightish_grey: #f4eef7;
$light_grey: #eae8ec;
$light_grey_border: #e8dfed;
$mid_grey: #52526a;
$button_color: #f0a023;
$button_color_hover: #c7851c;
$transparent_color: rgba(37, 11, 56, 0.25);

$semi_bold_font: HK Grotesk SemiBold;
$bold_font: HK Grotesk Medium;
$medium_font: HK Grotesk Bold;
